*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:Microsoft JhengHei;
  
}
body{
  //border:2px black solid;
  height:110vh;
  width:85vw;
  margin:0px auto;
  background:#D1C4E9;
  color:#424242;
}
header{
  //border:2px blue solid;
  height:28vh;
  display:flex;
  align-items:center;
  justify-content:center;
}
.note{
  //border: 2px green solid;
  line-height:35px;
  text-align:center;
}
main{
  //border:2px black solid;
  height:70vh;
  display:flex;
  align-items:center;
  justify-content:center;
}
table{
  height:90%;
  width:70%;
  background-color: #f3f3f3;
  border-collapse: separate;
  border-spacing: 0;
  border:4px #616161 solid;
  border-radius:5px;
  color:#111;
}

.one{
  text-align:left;
}
.two{
  text-align:right;
}
.three{
border: none;
}
.one,.two,.three{
  padding:13px;
  border-bottom: 1px solid #ddd;

}
thead{
  text-align:center;
  background-color:#616161;
}
footer{
  margin-top:10px;
  //border:2px yellow solid;
  height:20vh;
  display:flex;
  align-items: center;
  justify-content:space-between;
  padding:10px;	
}
a{
  text-decoration:none;
}
.items{
  margin-top:20px;
  border:3px #616161 solid;
  height:70%;
  width:35%;
  border-radius: 5px;
  display:flex;
  align-items:center;
  justify-content:center;
  background:none;
}
.items p {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #424242;
  transition: all 0.5s;
}
.items:hover {
  border: 3px solid #E5E6F1;
}
.items:hover p {
  transform: translate(-3px,-3px);
}

