*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  color:#424242;
  font-family:Microsoft JhengHei;
}
body{
  //border:2px black solid;
  height:110vh;
  width:90vw;
  margin:0px auto;
  background:#D1C4E9;
}
header{
  //border:2px blue solid;
  height:28vh;
  display:flex;
  align-items:center;
  justify-content:center;
}
.note{
  //border: 2px green solid;
  line-height:35px;
  text-align:center;
}
main{
  /*border:2px brown solid;
  height:75vh;*/
  margin-top:-6.5vh;
  display:flex;
  justify-content:center;
}
a{
  text-decoration:none;
}
.line-one, .line-two{
  //border:2px black solid;
  margin-top:3vh;
  height:75vh;
  width:35vw;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}
.line-two{
  margin-left:4vw;
}
.items{
  
  border:3px #757575 solid;
  height:18%;
  width:95%;
  border-radius: 5px;
  display:flex;
  align-items:center;
  justify-content:center;
}
.two{
  margin-top:3%;
}
.items p {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #424242;
  transition: all 0.5s;
}

.items:hover {
  border: 3px solid #E5E6F1;
}
.items:hover p {
  transform: translate(-3px,3px);
}
/*icon-wrapper, .project-name {
  //border: 2px yellow solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-wrapper i {
  font-size: 140px;
  color: #E5E6F1;
  transform: translateY(0px);
  transition: all 0.6s;
}
.project-name{
  margin-top:20px;
}
.project-name p {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #E5E6F1;
  transform: translateY(0px);
  transition: all 0.5s;
}

.items:hover {
  border: 3px solid #E5E6F1;
}
.items:hover .project-name p {
  transform: translateY(-10px);
}
.items:hover .icon-wrapper i {
  transform: translateY(5px);
}*/
